<mat-progress-bar class="progress-bar" mode="indeterminate"></mat-progress-bar>
<div class="dialog-wrapper">
   
    <h2 mat-dialog-title>Add User</h2>
    <mat-dialog-content> </mat-dialog-content>

    <form class="user-dialog-form">
        <table class="example-full-width" cellspacing="0">
            <tr class="name-input-fields">
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>First Name</mat-label>
                        <input matInput name="firstName" [(ngModel)]="user.firstName" [ngModelOptions]="{standalone: true}" />
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Last Name</mat-label>
                        <input matInput name="lastName" [(ngModel)]="user.lastName" [ngModelOptions]="{standalone: true}" />
                    </mat-form-field>
                </td>
            </tr>
        </table>

        <mat-form-field>
            <mat-label>Choose a date</mat-label>
            <input [(ngModel)]="user.birthday" matInput [matDatepicker]="picker" [ngModelOptions]="{standalone: true}" />
            <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <p class="address">
            <mat-form-field class="example-full-width">
                <mat-label>Address</mat-label>
                <textarea [(ngModel)]="user.adress" matInput placeholder="Ex. Carl-Benz-Str." [ngModelOptions]="{standalone: true}"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Address 2</mat-label>
                <textarea [(ngModel)]="user.adress2" matInput [ngModelOptions]="{standalone: true}"></textarea>
            </mat-form-field>
        </p>

        <table class="example-full-width city-state" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>City</mat-label>
                        <input [(ngModel)]="user.city" matInput placeholder="Ex. Frankfurt am Main" [ngModelOptions]="{standalone: true}" />
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>State</mat-label>
                        <input [(ngModel)]="user.state" matInput placeholder="Ex. Hessen" [ngModelOptions]="{standalone: true}" />
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Postal Code</mat-label>
                        <input [(ngModel)]="user.postalCode" matInput #postalCode maxlength="5" placeholder="Ex. 60314" value="" [ngModelOptions]="{standalone: true}" />
                        <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
                    </mat-form-field>
                </td>
            </tr>
        </table>
    </form>

    <mat-dialog-actions class="dialog-buttons">
        <button matButton>Cancel</button>
        <button (click)="saveUser()" matButton [mat-dialog-close]="" cdkFocusInitial>Save</button>
    </mat-dialog-actions>
</div>
