.dialog-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;

  h2 p {
    padding: 0px;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  textarea:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0) inset !important; /* change white to your input bg color */
    -webkit-text-fill-color: #ffffff !important; /* text color */
    transition: background-color 5000s ease-in-out 0s; /* prevents flash */
  }

  input:-moz-autofill {
    box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0) inset !important;
    -moz-text-fill-color: #ffffff !important;
    textarea:-moz-autofill {
      box-shadow: 0 0 0 1000px white inset !important;
      -moz-text-fill-color: #ffffff !important;
    }
  }
}

.name-input-fileds {
  display: flex;
  justify-content: space-between;
}

.city-state {
  width: 100%;
  display: flex;

  tr {
    display: flex;
    flex-direction: column;
  }
}

.address {
  display: flex;
  flex-direction: column;
}

td textarea {
  padding-right: 10px;
}

table {
  width: 100%;

  tr {
    width: 100%;
  }
}

mat-form-field {
  width: 100%;
}

.dialog-buttons {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  gap: 10px;
}
