<mat-drawer-container class="example-container" autosize>
   <mat-drawer #drawer class="example-sidenav" mode="side">
      <p>Auto-resizing sidenav</p>
   </mat-drawer>
   <div class="example-sidenav-content">
      <mat-toolbar>
        <mat-icon (click)="drawer.toggle()" class="example-icon menu-icon" aria-hidden="false" aria-label="Example heart icon">menu</mat-icon>
      
         <span>ClientSphere</span>
      </mat-toolbar>
   </div>
</mat-drawer-container>
<router-outlet></router-outlet>