.add-icon {
  position: absolute;
  right: 56px;
  bottom: 56px;
  border-radius: 50%;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #46a35d;
  overflow: hidden;
}

.card-container {
  width: 100%;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;

  td {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.308);
  }

  tr {
    cursor: pointer;
    margin-left: -10px;

    &:hover {
      background-color: rgb(0, 0, 0, 0.09);
    }
  }

  tr:first-child {
    color: #e0e0e0bb;
    cursor: unset;

    &:hover {
      background-color: rgba(0, 0, 0, 0);
    }

    td {
      border-bottom: 1px solid rgba(0, 0, 0, 0.308);
    }
  }
}
